*{margin: 0; padding: 0;}
.design-download{
    display: flex;
}
.download-btn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(13, 193, 238) ;
    margin-left: 250px;
}
.download-btn:hover {
    background-color: rgb(1, 136, 255);
    color: white;
    
}
.download-btn a{
   text-decoration: none;
   color: black;
   transition: 0.4s;
   font-size: 18px;
   

}
.download-btn:hover a{
    color: white;
}
.download-btn a p{
   text-align: center;
    padding-top: 7px;
}
.down-figma{
    margin-top: 100px;
    width: 200px;
}
.button-home{
    margin-left: 40px;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
   background-color: #333;
  }
  .button-home p{
    color: white;
    text-align: center;
  }
  a{
  text-decoration: none;
  }