body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  main {
    display: flex;
  }
  
  .primary-content {
    flex: 2;
    padding: 20px;
  }
  
  .secondary-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1, h2 {
    color: #333;
  }
  .button-home{
    margin-left: 40px;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
   background-color: #333;
  }
  .button-home p{
    color: white;
    text-align: center;
  }
  a{
  text-decoration: none;
  }
  
  /* Add more styles as needed */
  